<div class="container">
  <div>
    <form class="form" [formGroup]="signinForm">
      <label> Username: </label>
      <div>
        <input type="text" placeholder="Enter username" formControlName="username" />
      </div>
      <label>Password: </label>
      <div>
        <input type="password" placeholder="Enter password" formControlName="password" />
      </div>
      <div>
        <button (click)="submit()" [disabled]="!signinForm.valid">Sign In</button>
      </div>
    </form>
  </div>
</div>
