<div class="row">
  <div class="col-md-4 mt-3" *ngFor="let food of foodsStall">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="food.imageUrl" alt="Card image cap">
      <div class="card-body">
        <div >
          <div class="circle inline" [ngStyle]="{'background-color':food.type === 'non-vegetarian' ? 'red' : 'green' }"></div>
          <strong class="card-title col-md-8"> {{food.recipeName}}</strong>
        <!-- <div class="circle col-md-0.5" ></div> -->
      </div>
        <p class="card-text">{{food.description}}</p>
        <p class="card-text"><strong>Made By:</strong> {{food.chefName}}</p>
      </div>
    </div>
  </div>
</div>
